    <!DOCTYPE html>
    <html>
    <head>
        <title>Asignación y Transporte</title>
    </head>
    <body>
        <h1>Resolución por costo mínimo</h1>
        
        <form action="/costominimo" method="POST">
            <input type="number" id="N" name="N" value="{{ rows }}" hidden>
            <input type="number" id="M" name="M" value="{{ cols }}" hidden>
            
            <br><br>

            <!--Tabla de recursos y demanda-->
            <table border="1">
                <!-- Encabezado de columnas -->
                <tr>
                    <th></th>
                    {% for j in range(cols) %}
                        <th>Destino {{ j+1 }}</th>
                    {% endfor %}
                    <th>Oferta</th>
                </tr>
                <!-- Filas de inputs -->
                {% for i in range(rows) %}
                    <!-- Fila editable -->
                    <tr>
                        <th>Origen {{ i+1 }}</th>
                        {% for j in range(cols) %}
                            <td>
                                <input type="number" name="cell_{{i}}_{{j}}" value="{{ costs[i][j] if costs else '' }}">
                            </td>
                        {% endfor %}
                        <td>
                            <input type="number" name="offer_{{i}}_disabled" disabled>
                        </td>
                    </tr>
                    <!-- Fila no editable -->
                    <tr>
                        <th></th>
                        {% for j in range(cols) %}
                            <td>
                                <input type="number" name="cell_{{i}}_{{j}}_disabled" value="{{ result[i][j] if result else '' }}" disabled>
                            </td>
                        {% endfor %}
                        <td>
                            <input type="number" name="offer_{{i}}_" value="{{ offers[i] if offers else '' }}">
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>Demanda</th>
                    {% for j in range(cols) %}
                        <td>
                            <input type="number" name="demand_{{j}}" value="{{ demands[j] if demands else '' }}">
                        </td>
                    {% endfor %}
                    <td></td>
                </tr>
                <tr>
                    <th>Total</th>
                    {% for j in range(cols) %}
                        <td>
                            <input type="number" name="total_{{j}}" value="{{ totals[j] if totals else '' }}" disabled>
                        </td>
                    {% endfor %}
                    <td></td>
                </tr>
            </table>
            <input type="submit" value="Enviar valores">
        </form>
        <br>
        <!--Mostrar resultado final-->
        {% if minimum_cost is defined %}
        <h2>Resultado Total: {{ minimum_cost }}</h2>
        {% endif %}

        <a href="/">Volver</a>
        <a href="/grafo">Ver Grafo</a>
    </body>
    </html>
